<div class="mt-0 grid gap-0 grid-cols-12 card-3b"
     style="min-height: 6.5rem; margin-bottom: 15px; !important; border:1px solid #999; background-color: white; padding: 20px 30px 15px ">
  <div class="col-span-12 sm:col-span-6">
    <div class="col-span-12">
      <div style="font-size: 1.5rem; line-height: 2.0rem;" class="font-normal">Reported traits</div>
    </div>
    <div class="col-span-6">
      <div style="margin-top: 5px;"><a href="#" style="margin-right: 5px;">Dashboard</a> / <a>
        Reported traits</a></div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6">
    <div class="mt-5 sm:mt-1 sm:float-right">
      <label class="dropdown cursor-pointer">

        <button mat-stroked-button id="menu-btn" class="w-48 gwas-elevation"
                (click)="toggleDisplay('menuShow')"
                style="font-size:12px; margin-right: 10px;">
          <mat-icon>call_to_action</mat-icon>
          <span class="ml-2"> Manage reported traits </span>
        </button>

        <ul class="menu" [ngClass]="{'menu-show': menuShow}">
          <li class="menu-item">
            <button class="menu-btn" (click)="openCreateDialog(dialog)">
              <em class="fa fa-folder-open"></em> <span class="menu-text"> New reported Trait </span>
            </button>
          </li>
          <li class="menu-item">
            <button class="menu-btn" (click)="showTraitUpload = true;">
              <em class="fa fa-reply"></em> <span class="menu-text"> Bulk upload traits </span>
            </button>
          </li>
          <li class="menu-item">
            <button class="menu-btn" (click)="showSimilarityAnalysis = true;">
              <em class="fa fa-reply"></em> <span class="menu-text"> Similarity analysis </span>
            </button>
          </li>
        </ul>
      </label>
      <button mat-raised-button color="primary">
        <mat-icon>share</mat-icon>
        Export Data
      </button>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-5/6 sm:w-3/4">
    <ng-template #dialog>
      <h2 mat-dialog-title>Create a new disease trait</h2>
      <mat-dialog-content>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Enter trait name</mat-label>
          <input matInput placeholder="Trait name" [(ngModel)]="createTraitName">
        </mat-form-field>
      </mat-dialog-content>
      <div mat-dialog-actions>
        <button mat-button [disabled]="isLoadingCreate" (click)="onCancelClick()">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="isLoadingCreate || createTraitName ===''"
                (click)="onCreateTrait()">Create
        </button>
        <mat-spinner *ngIf="isLoadingCreate" [diameter]="25" class="mx-2"></mat-spinner>
        <span *ngIf="createError !== ''" class="color-warn">{{createError}}</span>
      </div>
    </ng-template>

    <mat-card class="space-y-3 my-3 mat-elevation-z4" *ngIf="showTraitUpload">
      <mat-card-header>
        <h2>
          Bulk upload of traits
        </h2>
      </mat-card-header>
      <div class="absolute right-0 z-50" style="top: -10px;">
        <button mat-icon-button (click)="showTraitUpload = false;" class="hover:bg-gray-100"><mat-icon color="primary">close</mat-icon></button>
      </div>
      <button mat-stroked-button (click)="downloadBulkTraitUploadTemplate()">
        <mat-icon>download</mat-icon> Download template
      </button>
      <div class="flex justify-center sm:space-x-4">
        <div ng2FileDrop
             [uploader]="traitUploader"
             (fileOver)="traitUploadFileOver($event)"
             [ngClass]="{'nv-file-over': hasDropZoneOver}"
             class="bg-gradient-to-t from-green-800 via-gray-700 to-blue-900
               rounded-l p-5 text-white mat-elevation-z6 hidden sm:block w-64 text-center my-drop-zone">
          <span *ngIf="traitUploader.queue.length == 0"> Drop traits template here </span>
          <span *ngIf="traitUploader.queue.length != 0">{{traitUploader.queue[0].file.name}}</span>
        </div>
        <div class="flex items-center">
          <h3 class="hidden sm:block mt-2">OR</h3>
        </div>
        <div class="flex items-center">
          <button mat-stroked-button (click)="fileInput.click()">
            <mat-icon color="primary">upload</mat-icon>
            <span>Select file</span>
            <input id="fileInput" #fileInput type="file" ng2FileSelect [uploader]="traitUploader" class="hidden"/>
          </button>
        </div>
      </div>
      <div class="flex justify-center">
        <span *ngIf="traitUploader.queue.length == 0">No file selected.</span>
        <span *ngIf="traitUploader.queue.length > 0">{{traitUploader.queue[0].file.name}}</span>
      </div>
      <div class="flex justify-center" *ngIf="report">
        <button mat-raised-button color="warn" (click)="downloadBulkUploadReport()">Download report</button>
      </div>
      <div class="flex justify-center" *ngIf="report && report.hasErrors == true">
        <h4 class="color-warn">Report may contain errors, please download and have a look.</h4>
      </div>
      <div class="flex justify-center" *ngIf="uploadError">
        <h4 class="color-warn">{{uploadError}}</h4>
      </div>
      <div class="flex justify-center" *ngIf="traitUploader.queue.length > 0">
        <mat-progress-bar mode="determinate" [value]="traitUploader.progress"></mat-progress-bar>
      </div>
      <div *ngIf="traitUploader.queue.length > 0" class="flex justify-center">
        <button class="mx-3"
                [disabled]="traitUploader.queue[0].isReady || traitUploader.queue[0].isUploading || traitUploader.queue[0].isSuccess"
                mat-raised-button color="primary" (click)="traitUploader.progress=0; traitUploader.queue[0].upload();">
          Upload
        </button>
        <button [disabled]="traitUploader.queue.length == 0" mat-raised-button color="primary"
                (click)="traitUploader.isUploading ? traitUploader.cancelAll() : traitUploader.clearQueue(); fileInput.value = ''; uploadError = false;">
          <span *ngIf="traitUploader.isUploading">Cancel</span>
          <span *ngIf="!traitUploader.isUploading">Reset</span>
        </button>
      </div>
    </mat-card>

    <mat-card class="space-y-3 my-3 mat-elevation-z4" *ngIf="showSimilarityAnalysis">
      <mat-card-header>
        <h2>
          Similarity analysis
        </h2>
      </mat-card-header>
      <div class="absolute right-0 z-50" style="top: -10px;">
        <button mat-icon-button (click)="showSimilarityAnalysis = false;" class="hover:bg-gray-100"><mat-icon color="primary">close</mat-icon></button>
      </div>
      <button mat-stroked-button (click)="downloadSimilarityAnalysisTemplate()">
        <mat-icon>download</mat-icon> Download template </button>
      <div class="flex justify-center sm:space-x-4">
        <div ng2FileDrop
             [uploader]="analysisUploader"
             (fileOver)="analysisUploadFileOver($event)"
             [ngClass]="{'nv-file-over': analysisHasDropZoneOver}"
             class="bg-gradient-to-t from-green-800 via-gray-700 to-blue-900
               rounded-l p-5 text-white mat-elevation-z6 hidden sm:block w-64 text-center my-drop-zone">
          <span *ngIf="analysisUploader.queue.length == 0"> Drop analysis template here </span>
          <span *ngIf="analysisUploader.queue.length != 0">{{analysisUploader.queue[0].file.name}}</span>
        </div>
        <div class="flex items-center">
          <h3 class="hidden sm:block mt-2">OR</h3>
        </div>
        <div class="flex items-center">
          <button mat-stroked-button (click)="analysisFileInput.click()">
            <mat-icon color="primary">upload</mat-icon>
            <span>Select file</span>
            <input id="analysisFileInput" #analysisFileInput type="file" ng2FileSelect [uploader]="analysisUploader" class="hidden"/>
          </button>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="flex-col"></div>
        <span *ngIf="analysisUploader.queue.length == 0">No file selected.</span>
        <span *ngIf="analysisUploader.queue.length > 0">{{analysisUploader.queue[0].file.name}}</span>
      </div>
      <div class="flex justify-center" *ngIf="analysisId != ''">
        <button mat-raised-button color="warn" (click)="downloadSimilarityAnalysisReport()">Download report</button>
      </div>
      <div class="flex justify-center" *ngIf="analysisUploader.queue.length > 0">
        <mat-progress-bar mode="determinate" [value]="analysisUploader.progress"></mat-progress-bar>
      </div>
      <div *ngIf="analysisUploader.queue.length > 0" class="flex justify-center">
        <button class="mx-3"
                [disabled]="analysisUploader.queue[0].isReady || analysisUploader.queue[0].isUploading || analysisUploader.queue[0].isSuccess"
                mat-raised-button color="primary" (click)="analysisUploader.progress=0; analysisUploader.queue[0].upload();">
          Upload
        </button>
        <button [disabled]="analysisUploader.queue.length == 0" mat-raised-button color="primary"
                (click)="analysisUploader.isUploading ? analysisUploader.cancelAll() : analysisUploader.clearQueue(); analysisFileInput.value = '';">
          <span *ngIf="analysisUploader.isUploading">Cancel</span>
          <span *ngIf="!analysisUploader.isUploading">Reset</span>
        </button>
      </div>
    </mat-card>

    <div class="card-3 mt-4">

      <div class="p-3 bg-white" style="border-bottom: 1px solid #ccc;">
        <span class="text-sm ml-1">  Manage Reported Traits  </span>
      </div>

      <div class="p-4 sm:h-16 h-26"
           style="background-color: #EDF8F9; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
        <div class="sm:float-right">
          <input [disabled]="isLoadingResults" matInput [(ngModel)]="searchBoxValue"
                 (keyup.enter)="search()"
                 class="table-search"
                 placeholder="Search traits">
          <button *ngIf="searchBoxValue" matSuffix mat-icon-button aria-label="Clear"
                  (click)="searchBoxValue=''; search()" class="-ml-12">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="mat-elevation-z1 relative">
        <div class="loading-shade" *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="resetPaging()"
               matSortActive="lastUpdated" matSortDisableClear matSortDirection="desc" class="w-full">

          <ng-container matColumnDef="trait">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Trait name</th>
            <td mat-cell *matCellDef="let row" (click)="openEditDialog(editDialog, row)">{{row.trait}}
              <ng-template #editDialog>
                <h2 mat-dialog-title>Edit disease trait</h2>
                <mat-dialog-content>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Trait name</mat-label>
                    <input matInput placeholder="Trait name" [(ngModel)]="editTraitName">
                  </mat-form-field>
                </mat-dialog-content>
                <div mat-dialog-actions>
                  <button mat-button [disabled]="isLoadingEdit" (click)="onCancelClick()">Cancel</button>
                  <button mat-raised-button color="primary"
                          [disabled]="isLoadingEdit || editTraitName ==='' || editTraitName === row.trait"
                          (click)="onSaveEditedTrait(row.diseaseTraitId)">Save
                  </button>
                  <mat-spinner *ngIf="isLoadingEdit" [diameter]="25" class="mx-2"></mat-spinner>
                  <span *ngIf="editError !== ''" class="color-warn ml-2">{{editError}}</span>
                </div>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="w-4">Delete</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="openDeleteConfirmationDialog(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="hover:bg-gray-200 cursor-pointer" mat-row *matRowDef="let row;
      columns: displayedColumns; let index = index;" [ngClass]="{gray: index % 2 == 0}"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              No data matching the search criteria.
            </td>
          </tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons="true"></mat-paginator>
      </div>
    </div>
  </div>
</div>
