.mat-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 600px;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}
