<div class="mt-0 grid gap-0 grid-cols-12 card-3b"
     style="min-height: 6.5rem; margin-bottom: 15px; !important; border:1px solid #999; background-color: white; padding: 20px 30px 15px ">
  <div class="col-span-12 sm:col-span-6">
    <div class="col-span-12">
      <div style="font-size: 1.5rem; line-height: 2.0rem;" class="font-normal">Import publications from EuropePMC</div>
    </div>
    <div class="col-span-6">
      <div style="margin-top: 5px;"><a href="#" style="margin-right: 5px;">Dashboard</a> / <a>
        Publications / Import</a></div>
    </div>
  </div>
</div>

<div class="flex flex-col">
  <div class="mt-20 w-full">
    <div class="flex items-center justify-center">
      <mat-form-field class="example-chip-list w-1/2">
        <mat-label>PMID(s)</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let pmid of pmids" (removed)="remove(pmid)">
            {{pmid}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="01234, 56789, ..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="add($event)" (paste)="handlePaste($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="flex items-center justify-center">
      <button mat-raised-button [disabled]="importInProgress" (click)="import()">Import</button>
    </div>
    <div class="flex items-center justify-center">
      <mat-progress-bar mode="indeterminate" class="w-1/4 mt-5" *ngIf="importInProgress"></mat-progress-bar>
    </div>
    <div *ngIf="importResultArray?.length > 0" class="w-full">
      <div class="flex items-center justify-center">
        <mat-divider class="w-3/4 my-5"></mat-divider>
      </div>
      <div class="flex items-center justify-center">
        <mat-icon color="primary">import_export</mat-icon>
        <b>Import result</b>
      </div>
      <div class="flex items-center justify-center w-full p-7">
        <div class="mat-elevation-z3 w-full">
          <table mat-table [dataSource]="dataSource" class="w-full">

            <ng-container matColumnDef="pmid">
              <th mat-header-cell *matHeaderCellDef> PMID </th>
              <td mat-cell *matCellDef="let row"> {{row.publicationDto?.pmid || 'NA'}} </td>
            </ng-container>

            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef> Author </th>
              <td mat-cell *matCellDef="let row"> {{(row.publicationDto?.authors || [])[0]?.fullName || 'NA'}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let row" class="ellipsis-col">
                <span matTooltip="{{row.publicationDto?.title}}" matTooltipClass="mat-tooltip">{{row.publicationDto?.title || 'NA'}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="journal">
              <th mat-header-cell *matHeaderCellDef> Journal </th>
              <td mat-cell *matCellDef="let row"> {{row.publicationDto?.journal || 'NA'}} </td>
            </ng-container>

            <ng-container matColumnDef="result">
              <th mat-header-cell *matHeaderCellDef> Result </th>
              <td mat-cell *matCellDef="let row" [ngClass]="{'text-red-500': row.status !== 'PMID saved', 'text-green-600': row.status == 'PMID saved'}">
                {{row.status || 'NA'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="checkSubmission">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let row">
                <button *ngIf="row.status == 'PMID saved'" mat-stroked-button
                        (click)="openCheckSubmissionDialog(row.publicationDto?.pmid, row.publicationDto?.title, (row.publicationDto?.authors || [])[0]?.fullName)">
                  Check for submission
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </div>
  </div>
</div>
