<nav class="bg-gray-800 mat-elevation-z9 sticky w-full" style="z-index: 200; top: -1px">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-6">
    <div class="relative flex items-center justify-between" style="height: 3.3rem;">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button (click)="showMenu()" mat-icon-button type="button" class="rounded-md text-gray-400 hover:text-white hover:bg-gray-700">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <a href="https://www.ebi.ac.uk/gwas" target="_blank">
            <img class="block h-10 w-auto" src="assets/images/GWAS_Catalog_banner_logo_34x40.svg" alt="GWAS"/>
          </a>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex flex-wrap space-x-4">
            <a routerLink="submissions" mat-button class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium">Submissions</a>
            <a routerLink="reported-traits" mat-button class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium">Reported traits</a>
            <a routerLink="efo-traits" mat-button class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium">EFO traits</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" type="button" class="bg-gray-800 rounded-full text-gray-400
             hover:text-white hover:bg-gray-700">
              <mat-icon class="text-gray-400 hover:text-white">account_circle</mat-icon>
            </button>
          </div>
          <!-- Dropdown menu -->
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu" *ngIf="menuOpen">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a routerLink="submissions" mat-button class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Submissions</a>
      <a routerLink="reported-traits" mat-button class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Reported traits</a>
      <a routerLink="efo-traits" mat-button class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">EFO traits</a>
    </div>
  </div>
</nav>

<!--<mat-toolbar color="primary" class="mb-3">-->
<!--  {{pathName}}-->
<!--</mat-toolbar>-->
