.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .material-icons {
    line-height: 0.8;
  }
  
  .table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .mat-expansion-indicator::after {
    border-color: black !important;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0 0 !important;
  }
  
  .expansion-panel-content {
    min-height: 70px;
  }
  
  .mat-expansion-panel-header, .mat-expansion-panel-header:hover {
    background-color: #EDF8F9 !important;
    height: 44px;
    border-width: 2px 0;
  }
  
  .note {
    width: 300px;
    min-height: 270px;
  }
  
  .add-icon {
    transform: scale(1.4);
  }
  
  textarea {
    min-height: 110px;
  }

  .ellipsis-col {
    overflow: hidden;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 20px 2px 0px;
  }
  
  /*the below three are to keep card actions at the bottom*/
  .mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }
  