<mat-card>
  <mat-card-header>
    <mat-card-title>Details for GCP ID: </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Yes
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Details for PubMed ID: </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Yes
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Details for Submission ID: </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Yes
  </mat-card-content>
</mat-card>
