
<div class="grid gap-0 grid-cols-12 opacity-90">
  <div class="col-span-6 absolute z-40 card-3b
  bg-white w-11/12 sm:w-10/12 md:w-6/12 lg:w-4/12 inset-2.5 mx-auto my-auto" style="height: 660px;">

    <img class="w-20 mt-10 left-0 right-0 mx-auto" alt="GWAS Logo"
         src="https://ebispot.github.io/gwas-blog/_nuxt/img/gwas-logo.2a25f43.png">

    <div class="text-center text-2xl mt-4 mb-8"> GWAS Curation App </div>

    <div class="mb-4">
      <button class="gwas-button-wide card-3b " (click)="login()" mat-raised-button color="primary">
        <img class="inline h-8 w-8" src="assets/images/elixir-white-orange-logo.png" alt="">-
        Sign in with Elixir identity!
      </button>
    </div>

    <div style="margin-left: 65px; margin-bottom: 40px; margin-top: 40px;">
      <mat-divider style="width: 37%; display: inline-block;"></mat-divider>
      <span style="padding: 10px; font-weight: 500;"> or </span>
      <mat-divider style="width: 37%; display: inline-block;"></mat-divider>
    </div>

    <div class="mb-4">
      <a href="https://www.ebi.ac.uk/gwas/" target="_blank">
        <button mat-stroked-button color="primary"
                class="gwas-button-wide card-3b text-gray-800 hover:text-white border border-gray-500">
          Go to GWAS Catalog
        </button>
      </a>

    </div>

    <a href="https://ebispot.github.io/gwas-blog/" target="_blank">
      <button mat-stroked-button color="primary"
              class="gwas-button-wide card-3b text-gray-800 hover:text-white border border-gray-500">
        Go to GWAS Blog
      </button>
    </a>


    <div class="ml-12 mt-10">
      <a class="gwas-link " href="https://app.botify.com/password/reset/"> Need Help ?  </a>

      <div style="margin-top: 10px;">
        New to Curation App? | <a href="" class="gwas-link"> Watch Demo </a>
      </div>

      <div style="margin-top: 10px;">
        Contact GWAS team on | <a href="" class="gwas-link">gwas-info@ebi.ac.uk. </a>
      </div>

      <div style="bottom: 2.5em; position: absolute">
        You think you've found a bug?
        <a class="gwas-link" href="https://github.com/EBISPOT/gwas-user-requests/issues" target="_blank">
          Look at our known issues page
        </a>
      </div>
    </div>
  </div>
</div>


<div class="flex bg-cover h-screen items-center justify-center "
     [ngStyle]="{'background-image': 'url('+bgImage+')'}">
</div>
