.mat-cell {
  padding: 4px;
}

th {
  color: black;
  font-weight: bold;
}
.table-container {
  position: relative;
  overflow: auto;
  width: 100%;
}

table {
  width: 100%;
}

th, td {
    white-space: pre-wrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 120px;
}
