<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav fixedInViewport="true" #sidenav mode="over" style="width: 70%; padding-top: 60px" position="end">
    <div class="absolute right-0 z-50">
      <button mat-icon-button (click)="sidenav.close()" class="hover:bg-gray-100"><mat-icon color="primary">close</mat-icon></button>
    </div>

    <div *ngIf="isLoadingSidenav" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <div class="mx-4 mt-10">
      <div *ngIf="sidenavStudy" class="col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-12 card-3b mt-4 bg-white">

        <div class="p-3" style="background-color: #EDF8F9; border-top: 1px solid #ccc">
          <span class="font-bold"> Details for Study :  {{sidenavStudy.studyId}} </span>
        </div>
        <table class="plain-table mb-4">

          <tr>
            <th class="col-span-2"> Accession </th>
            <td class="col-span-3"> {{sidenavStudy.study_accession}} </td>
            <th class="col-span-2"> Tag </th>
            <td class="col-span-3"> {{sidenavStudy.study_tag}} </td>
          </tr>
          <tr>
            <th class="col-span-2"> Genotyping technology </th>
            <td class="col-span-2"> {{sidenavStudy.genotyping_technology}} </td>
            <th class="col-span-2"> Cohort </th>
            <td class="col-span-3"> {{sidenavStudy.cohort}} </td>
          </tr>
          <tr>
            <th class="col-span-2"> Array information </th>
            <td class="col-span-3"> {{sidenavStudy.array_information}} </td>
            <th class="col-span-2"> Array manufacturer </th>
            <td class="col-span-3"> {{sidenavStudy.array_manufacturer}} </td>
          </tr>
          <tr>
            <th class="col-span-2"> Sumstats </th>
            <td class="col-span-3"> {{sidenavStudy.sumstats_flag ? 'Yes' : 'No'}} </td>
            <th class="col-span-2"> Pooled </th>
            <td class="col-span-3"> {{sidenavStudy.pooled_flag ? 'Yes' : 'No'}} </td>
          </tr>
          <tr>
            <th class="col-span-2"> GxE </th>
            <td class="col-span-3"> {{sidenavStudy.gxe_flag ? 'Yes' : 'No'}} </td>
          </tr>
        </table>

      </div>
      <mat-form-field class="w-4/5" appearance="outline">
        <mat-label>Reported traits</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let reportedTrait of reportedTraits"
            (removed)="remove(reportedTrait)">
            {{reportedTrait.trait}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Add trait..."
            #reportedTraitInput
            [formControl]="traitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let reportedTrait of reportedTraitsDropdownItems" [value]="reportedTrait">
            {{reportedTrait.trait}}
          </mat-option>
          <mat-option disabled *ngIf="reportedTraitsDropdownItems.length == 0"> No results. </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mx-4 -top-1" (click)="saveReportedTraits()" [disabled]="reportedTraits.length == 0"> Save </button>
      <mat-form-field class="w-4/5" appearance="outline">
        <mat-label>EFO traits</mat-label>
        <mat-chip-list>
          <mat-chip *ngFor="let efoTrait of efoTraits">
            {{efoTrait.trait + ', ' + efoTrait.shortForm}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="p-3 mb-4" style="background-color: #EDF8F9; border: 1px solid #ccc">
      <span class="font-bold"> Studies for submission: {{submissionId}} </span>
    </div>



    <button *ngIf="!showTraitUpload" mat-raised-button class="mx-4" (click)="showTraitUpload = true;"> Assign traits in bulk </button>

    <mat-card class="space-y-3 my-3 mat-elevation-z4" *ngIf="showTraitUpload">
      <mat-card-header>
        <h2>
          Assign Reported Traits in bulk
        </h2>
      </mat-card-header>
      <div class="absolute right-0 z-50" style="top: -10px;">
        <button mat-icon-button (click)="showTraitUpload = false;" class="hover:bg-gray-100"><mat-icon color="primary">close</mat-icon></button>
      </div>
      <button mat-stroked-button (click)="downloadBulkStudyTraitUploadTemplate()">
        <mat-icon>download</mat-icon> Download template
      </button>
      <div class="flex justify-center sm:space-x-4">
        <div ng2FileDrop
             [uploader]="traitUploader"
             (fileOver)="traitUploadFileOver($event)"
             [ngClass]="{'nv-file-over': hasDropZoneOver}"
             class="bg-gradient-to-t from-green-800 via-gray-700 to-blue-900
               rounded-l p-5 text-white mat-elevation-z6 hidden sm:block w-64 text-center my-drop-zone">
          <span *ngIf="traitUploader.queue.length == 0"> Drop traits template here </span>
          <span *ngIf="traitUploader.queue.length != 0">{{traitUploader.queue[0].file.name}}</span>
        </div>
        <div class="flex items-center">
          <h3 class="hidden sm:block mt-2">OR</h3>
        </div>
        <div class="flex items-center">
          <button mat-stroked-button (click)="fileInput.click()">
            <mat-icon color="primary">upload</mat-icon>
            <span>Select file</span>
            <input id="fileInput" #fileInput type="file" ng2FileSelect [uploader]="traitUploader" class="hidden"/>
          </button>
        </div>
      </div>
      <div class="flex justify-center">
        <span *ngIf="traitUploader.queue.length == 0">No file selected.</span>
        <span *ngIf="traitUploader.queue.length > 0">{{traitUploader.queue[0].file.name}}</span>
      </div>
      <div class="flex justify-center" *ngIf="traitUploader.queue.length > 0">
        <mat-progress-bar mode="determinate" [value]="traitUploader.progress"></mat-progress-bar>
      </div>
      <div *ngIf="traitUploader.queue.length > 0" class="flex justify-center">
        <button class="mx-3"
                [disabled]="traitUploader.queue[0].isReady || traitUploader.queue[0].isUploading || traitUploader.queue[0].isSuccess"
                mat-raised-button color="primary" (click)="traitUploader.progress=0; traitUploader.queue[0].upload();">
          Upload
        </button>
        <button [disabled]="traitUploader.queue.length == 0" mat-raised-button color="primary"
                (click)="traitUploader.isUploading ? traitUploader.cancelAll() : traitUploader.clearQueue(); fileInput.value = '';">
          <span *ngIf="traitUploader.isUploading">Cancel</span>
          <span *ngIf="!traitUploader.isUploading">Reset</span>
        </button>
      </div>
      <section *ngIf="report">
        <button mat-raised-button color="warn" (click)="downloadStudyTraitMappingReport()"> <mat-icon>download</mat-icon> Download report</button>
      </section>
    </mat-card>

    <button *ngIf="!showEfoUpload" mat-raised-button class="mx-4" (click)="showEfoUpload = true;"> Assign EFOs in bulk </button>

    <mat-card class="space-y-3 my-3 mat-elevation-z4" *ngIf="showEfoUpload">
      <mat-card-header>
        <h2>
          Assign EFO Traits in bulk
        </h2>
      </mat-card-header>
      <div class="absolute right-0 z-50" style="top: -10px;">
        <button mat-icon-button (click)="showEfoUpload = false;" class="hover:bg-gray-100"><mat-icon color="primary">close</mat-icon></button>
      </div>
      <button mat-stroked-button (click)="downloadBulkStudyEfoUploadTemplate()">
        <mat-icon>download</mat-icon> Download template
      </button>
      <div class="flex justify-center sm:space-x-4">
        <div ng2FileDrop
             [uploader]="efoUploader"
             (fileOver)="traitUploadFileOver($event)"
             [ngClass]="{'nv-file-over': hasDropZoneOver}"
             class="bg-gradient-to-t from-green-800 via-gray-700 to-blue-900
               rounded-l p-5 text-white mat-elevation-z6 hidden sm:block w-64 text-center my-drop-zone">
          <span *ngIf="efoUploader.queue.length == 0"> Drop traits template here </span>
          <span *ngIf="efoUploader.queue.length != 0">{{efoUploader.queue[0].file.name}}</span>
        </div>
        <div class="flex items-center">
          <h3 class="hidden sm:block mt-2">OR</h3>
        </div>
        <div class="flex items-center">
          <button mat-stroked-button (click)="efoFileInput.click()">
            <mat-icon color="primary">upload</mat-icon>
            <span>Select file</span>
            <input #efoFileInput type="file" ng2FileSelect [uploader]="efoUploader" class="hidden"/>
          </button>
        </div>
      </div>
      <div class="flex justify-center">
        <span *ngIf="efoUploader.queue.length == 0">No file selected.</span>
        <span *ngIf="efoUploader.queue.length > 0">{{efoUploader.queue[0].file.name}}</span>
      </div>
      <div class="flex justify-center" *ngIf="efoUploader.queue.length > 0">
        <mat-progress-bar mode="determinate" [value]="efoUploader.progress"></mat-progress-bar>
      </div>
      <div *ngIf="efoUploader.queue.length > 0" class="flex justify-center">
        <button class="mx-3"
                [disabled]="efoUploader.queue[0].isReady || efoUploader.queue[0].isUploading || efoUploader.queue[0].isSuccess"
                mat-raised-button color="primary" (click)="efoUploader.progress=0; efoUploader.queue[0].upload();">
          Upload
        </button>
        <button [disabled]="efoUploader.queue.length == 0" mat-raised-button color="primary"
                (click)="efoUploader.isUploading ? efoUploader.cancelAll() : efoUploader.clearQueue(); efoFileInput.value = '';">
          <span *ngIf="efoUploader.isUploading">Cancel</span>
          <span *ngIf="!efoUploader.isUploading">Reset</span>
        </button>
      </div>
      <section *ngIf="efoReport">
        <button mat-raised-button color="warn" (click)="downloadStudyEfoMappingReport()"> <mat-icon>download</mat-icon>Download report</button>
      </section>
    </mat-card>

    <div class="border border-gray-400 m-4">
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="resetPaging()"
             matSortActive="accession" matSortDisableClear matSortDirection="desc" class="w-full">

        <ng-container matColumnDef="study_accession">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Accession</th>
          <td mat-cell *matCellDef="let row">
            {{row.study_accession}}
          </td>
        </ng-container>

        <ng-container matColumnDef="study_tag">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Study tag</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.study_tag">N/A</span>
            <span *ngIf="row.study_tag">{{row.study_tag}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="genotyping_technology">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Genotyping Tech.</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.genotyping_technology">N/A</span>
            <span *ngIf="row.genotyping_technology">{{row.genotyping_technology}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="array_manufacturer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Array Manufacturer</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.array_manufacturer">N/A</span>
            <span *ngIf="row.array_manufacturer">{{row.array_manufacturer}}</span>
          </td>
        </ng-container>array_information

        <ng-container matColumnDef="array_information">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Array Info.</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.array_information">N/A</span>
            <span *ngIf="row.array_information">{{row.array_information}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="imputation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Imputation</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.imputation">N/A</span>
            <span *ngIf="row.imputation">{{row.imputation}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="variant_count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Variant Count</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.variant_count">N/A</span>
            <span *ngIf="row.variant_count">{{row.variant_count}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="statistical_model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Statistical Model</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.statisticalModel">N/A</span>
            <span *ngIf="row.statisticalModel">{{row.statisticalModel}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="study_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Study Desc.</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!row.study_description">N/A</span>
            <span *ngIf="row.study_description">{{row.study_description}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="disease_trait">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Reported trait</th>
          <td mat-cell *matCellDef="let row" style="max-width: 350px">
            <span *ngIf="!row.diseaseTrait">N/A</span>
            <span *ngIf="row.diseaseTrait">{{row.diseaseTrait.trait}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="efo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>EFO</th>
          <td mat-cell *matCellDef="let row" style="max-width: 350px">
            <span *ngIf="!row.efo_trait">N/A</span>
            <span *ngIf="row.efo_trait">{{row.efo_trait}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="background_efo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Background EFO</th>
          <td mat-cell *matCellDef="let row" style="max-width: 350px">
            <span *ngIf="!row.backgroundEfoTrait">N/A</span>
            <span *ngIf="row.backgroundEfoTrait">{{row.backgroundEfoTrait}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="sumstats_file">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Sumstats File</th>
          <td mat-cell *matCellDef="let row" style="max-width: 350px">
            <span *ngIf="!row.summaryStatisticsFile">N/A</span>
            <span *ngIf="row.summaryStatisticsFile">{{row.summaryStatisticsFile}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="cohort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Cohort</th>
          <td mat-cell *matCellDef="let row" style="max-width: 350px">
            <span *ngIf="!row.cohort">N/A</span>
            <span *ngIf="row.cohort">{{row.cohort}}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="hover:bg-gray-200 cursor-pointer" mat-row *matRowDef="let row;
      columns: displayedColumns; let index = index;" [ngClass]="{white: index % 2 == 0}"
            (click)="openSidenav(row.studyId)"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">
            No data found.
          </td>
        </tr>
      </mat-table>
      <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons="true"></mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
