<footer class="mt-10">
  <div class="footer-divider"></div>
  <div class="py-3 text-center">
    <p class="justify-center">
      Copyright © <a href="https://www.ebi.ac.uk/" target="_blank"> EMBL-EBI</a> {{year}}
    </p>
    <p class="justify-center">
      EMBL-EBI is an Outstation of the <a href="https://www.embl.org/" target="_blank"> European Molecular Biology Laboratory</a>
    </p>
    <p class="justify-center">
      <a href="https://www.ebi.ac.uk/about/privacy" target="_blank"> Privacy</a> |
      <a href="https://www.ebi.ac.uk/about/cookies" target="_blank"> Cookies</a> |
      <a href="https://www.ebi.ac.uk/about/terms-of-use" target="_blank"> Terms of use </a>
    </p>
    <div class="space-x-4">
      <a href="https://www.ebi.ac.uk/" target="_blank">
        <img class="h-7 w-21" src="assets/images/embl_ebi_rgb_2018_4.png" alt="">
      </a>
      <a href="https://www.genome.gov/" target="_blank">
        <img class="h-7 w-21" src="assets/images/NHGRI_grey_teal.svg" alt="">
      </a>
    </div>
  </div>
</footer>
