<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Submission ID: {{id}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-slide-toggle #toggle matTooltip="Edit tab will be locked for other curators until the current user is done editing."
                      (change)="sliderToggle()" [(ngModel)]="isChecked">
      Lock for editing
    </mat-slide-toggle>
    <div class="mt-10" *ngIf="toggle.checked">
      <div class="flex justify-around">
        <span class="pt-2"> Upload a new template: </span>
        <input type="file" ng2FileSelect [uploader]="uploader" class="pt-2"/>
        <div *ngIf="uploader.queue.length > 0">
          <button style="margin-right: 30px" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess"
                  mat-raised-button color="primary" (click)="uploader.queue[0].upload()">
            Upload
          </button>
          <button [disabled]="!uploader.queue[0].isUploading" mat-raised-button color="primary" (click)="uploader.queue[0].cancel()">
            Cancel
          </button>
        </div>
      </div>

      <div class="mt-9 flex justify-center" *ngIf="uploader.queue.length > 0">
        <mat-progress-bar mode="determinate" [value]="uploader.progress" style="width: 300px"></mat-progress-bar>
      </div>
      <div class="mt-9 flex justify-center" *ngIf="uploader.queue.length > 0 && uploader.queue[0].isSuccess">
        Metadata valid:
        <mat-spinner [diameter]="22" *ngIf="submission?.metadata_status == 'VALIDATING'"> </mat-spinner>
        <mat-icon aria-hidden="false" *ngIf="submission?.metadata_status == 'VALID'">check_circle_outline</mat-icon>
        <mat-icon aria-hidden="false" *ngIf="submission?.metadata_status == 'INVALID'">highlight_off</mat-icon>
        <span *ngIf="submission?.metadata_status == 'NA'" class="whitespace-pre"> NA</span>
        <pre>     </pre>
        Sumstats valid:
        <mat-spinner [diameter]="22" *ngIf="submission?.summary_statistics_status == 'VALIDATING'"> </mat-spinner>
        <mat-icon aria-hidden="false" *ngIf="submission?.summary_statistics_status == 'VALID'">check_circle_outline</mat-icon>
        <mat-icon aria-hidden="false" *ngIf="submission?.summary_statistics_status == 'INVALID'">highlight_off</mat-icon>
        <span *ngIf="submission?.summary_statistics_status == 'NA'" class="whitespace-pre"> NA</span>
      </div>
      <div *ngIf="uploader.queue[0]?.isError" class="text-red-500 flex justify-center"> An error occurred while uploading file.</div>
    </div>
  </mat-card-content>
</mat-card>
